@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: palevioletred;
    clip-path: circle(50% at bottom right);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 100%;
}
header .logo{
    position: relative;
    max-width: 50px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    color: #222;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
    margin-top: -5rem;
}
.content .text h2{
    color: #222;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 600;
}
.content .text h2 span{
    font-size: 1.5em;
    color: palevioletred;
    font-weight: 500;
}
.content .text p{
    color: #222;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: palevioletred;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
.icons{
    position: absolute;
    bottom: 30px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    list-style: none;
    cursor: pointer;
}
.icons li img{
    display: inline-block;
    margin-left: 45px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  0.3s ease-in-out;
}
.icons li img:hover{
    transform: translateY(-10px);
}
.icons li img{
    max-width: 60px;
}
.boxImg{
    position: absolute;
    right: 0;
    margin-right: 15rem;
}
.boxImg img{
    width: 350px;
}
.gelato{
    margin-top: -65px;
}